---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="post">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="date">
        {{ post.date | date_to_long_string }}
        {% capture tag_length %}{{ post.tags | size }}{% endcapture %}
        {% if tag_length != '0'  %}
          in
          {{ post.tags | tag_links }}
        {% endif %}
      </p>
      <div class="body">
        {{ post.excerpt }}
      </div>
    </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous"><i class="icon-arrow-left"></i></a>
    {% else %}
      <a href="/page/{{ paginator.previous_page }}" class="previous"><i class="icon-arrow-left"></i></a>
    {% endif %}
  {% else %}
    <a href="/" class="hidden"><i class="icon-arrow-left"></i></a>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page/{{ paginator.next_page }}" class="next"><i class="icon-arrow-right"></i></a>
  {% else %}
    <a href="/" class="hidden"><i class="icon-arrow-right"></i></a>
  {% endif %}
</div>
