/* line 17, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../_sass/style.scss */
body {
  line-height: 1.5;
  color: #444444;
  font-size: 18px;
  background: #f9f9f7;
  font-family: 'Droid Serif', serif;
}
/* line 16, ../_sass/style.scss */
body a {
  color: #444444;
  text-decoration: none;
}
/* line 21, ../_sass/style.scss */
body h1, body h3 {
  font-family: 'Ubuntu', sans-serif;
}

/* line 27, ../_sass/style.scss */
.container {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

/* line 33, ../_sass/style.scss */
div.content {
  background: #fff;
  padding: 120px 0;
  border-bottom: 1px solid #e0e0df;
}
/* line 38, ../_sass/style.scss */
div.content div.info {
  position: absolute;
  left: -270px;
  top: 0.5em;
  width: 200px;
  text-align: right;
}
/* line 45, ../_sass/style.scss */
div.content div.info > * {
  padding-right: 5px;
}
/* line 47, ../_sass/style.scss */
div.content div.info a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #aaaaaa;
}
/* line 51, ../_sass/style.scss */
div.content div.info a:hover {
  color: #444444;
}
/* line 54, ../_sass/style.scss */
div.content div.info a:hover i.icon-heart {
  color: #ff0084;
}
/* line 59, ../_sass/style.scss */
div.content div.info a i.icon-heart {
  color: #ea4c89;
}
/* line 65, ../_sass/style.scss */
div.content div.info h1 a {
  font-size: 1em;
  font-weight: bold;
}
/* line 71, ../_sass/style.scss */
div.content div.info p {
  line-height: 1.3;
  font-size: 0.75em;
  color: #aaaaaa;
  margin-top: 15px;
}
/* line 77, ../_sass/style.scss */
div.content div.info p:last-child {
  margin-bottom: 0;
}
/* line 81, ../_sass/style.scss */
div.content div.info p.links {
  line-height: 1.2;
  font-size: 1.5em;
}
/* line 88, ../_sass/style.scss */
div.content div.post {
  margin-bottom: 3em;
}
/* line 91, ../_sass/style.scss */
div.content div.post:last-child {
  margin-bottom: 0;
}
/* line 95, ../_sass/style.scss */
div.content div.post h3 {
  font-size: 2em;
  font-weight: bold;
}
/* line 101, ../_sass/style.scss */
div.content div.post p.date {
  line-height: 1;
  margin-bottom: 1.25em;
  color: #aaaaaa;
}
/* line 107, ../_sass/style.scss */
div.content div.post p.date a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #aaaaaa;
  text-decoration: none;
}
/* line 112, ../_sass/style.scss */
div.content div.post p.date a:after {
  content: ', ';
}
/* line 116, ../_sass/style.scss */
div.content div.post p.date a:first-child:before {
  content: 'in ';
}
/* line 120, ../_sass/style.scss */
div.content div.post p.date a:last-child:after {
  content: '';
}
/* line 124, ../_sass/style.scss */
div.content div.post p.date a:hover {
  color: #444444;
}
/* line 130, ../_sass/style.scss */
div.content div.post p a {
  text-decoration: underline;
}

/* line 138, ../_sass/style.scss */
div.footer {
  padding: 50px 0;
  border-top: 1px solid #fff;
  color: #aaaaaa;
  font-size: 0.75em;
  text-align: center;
}
