/* line 17, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

/* line 20, ../../_sass/style.scss */
body {
  line-height: 1.5;
  color: #444444;
  font-size: 18px;
  background: #f9f9f7;
  font-family: 'Droid Serif', serif;
}
/* line 27, ../../_sass/style.scss */
body a {
  -webkit-transition: color 0.4s, opacity 0.4s;
  -moz-transition: color 0.4s, opacity 0.4s;
  -o-transition: color 0.4s, opacity 0.4s;
  transition: color 0.4s, opacity 0.4s;
  color: #444444;
  text-decoration: none;
}
/* line 32, ../../_sass/style.scss */
body a:hover {
  color: #ff0084 !important;
}
/* line 37, ../../_sass/style.scss */
body h1, body h3, body h4 {
  font-family: 'Ubuntu', sans-serif;
}

/* line 43, ../../_sass/style.scss */
.container {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

/* line 49, ../../_sass/style.scss */
div.content {
  background: #fff;
  padding: 120px 0 60px;
  border-bottom: 1px solid #e0e0df;
}
/* line 54, ../../_sass/style.scss */
div.content div.info {
  position: absolute;
  left: -270px;
  width: 200px;
  text-align: right;
}
/* line 60, ../../_sass/style.scss */
div.content div.info > * {
  padding-right: 5px;
}
/* line 62, ../../_sass/style.scss */
div.content div.info a {
  color: #aaaaaa;
}
/* line 65, ../../_sass/style.scss */
div.content div.info a:hover {
  color: #444444;
}
/* line 69, ../../_sass/style.scss */
div.content div.info a i.icon-star {
  color: #ea4c89;
}
/* line 75, ../../_sass/style.scss */
div.content div.info h1 a {
  font-size: 1em;
  font-weight: bold;
}
/* line 81, ../../_sass/style.scss */
div.content div.info p {
  line-height: 1.3;
  font-size: 0.75em;
  color: #aaaaaa;
  margin-top: 15px;
}
/* line 87, ../../_sass/style.scss */
div.content div.info p:last-child {
  margin-bottom: 0;
}
/* line 91, ../../_sass/style.scss */
div.content div.info p.links {
  line-height: 1.2;
  font-size: 1.5em;
}
/* line 96, ../../_sass/style.scss */
div.content div.info p.links a:hover {
  color: #444444 !important;
}
/* line 104, ../../_sass/style.scss */
div.content div.posts {
  padding-bottom: 120px;
}
/* line 107, ../../_sass/style.scss */
div.content div.posts div.post {
  margin-bottom: 3em;
}
/* line 110, ../../_sass/style.scss */
div.content div.posts div.post:last-child {
  margin-bottom: 0;
}
/* line 114, ../../_sass/style.scss */
div.content div.posts div.post > h3, div.content div.posts div.post h4 {
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 0.3em;
}
/* line 120, ../../_sass/style.scss */
div.content div.posts div.post > h3 {
  font-size: 2em;
}
/* line 121, ../../_sass/style.scss */
div.content div.posts div.post > h4 {
  font-size: 1.5em;
}
/* line 123, ../../_sass/style.scss */
div.content div.posts div.post a.history {
  float: right;
  margin: 0 0 1em 1em;
  color: #aaaaaa;
}
/* line 128, ../../_sass/style.scss */
div.content div.posts div.post a.history i {
  font-size: 2em;
  line-height: 1em;
}
/* line 134, ../../_sass/style.scss */
div.content div.posts div.post p.date {
  line-height: 1;
  margin-bottom: 1.25em;
  color: #aaaaaa;
}
/* line 140, ../../_sass/style.scss */
div.content div.posts div.post p.date a {
  color: #aaaaaa;
}
/* line 146, ../../_sass/style.scss */
div.content div.posts div.post div.body p, div.content div.posts div.post div.body div.highlight, div.content div.posts div.post div.body ul, div.content div.posts div.post div.body h3, div.content div.posts div.post div.body blockquote, div.content div.posts div.post div.body .twitter-tweet {
  margin-bottom: 30px !important;
}
/* line 149, ../../_sass/style.scss */
div.content div.posts div.post div.body p:last-child, div.content div.posts div.post div.body div.highlight:last-child, div.content div.posts div.post div.body ul:last-child, div.content div.posts div.post div.body h3:last-child, div.content div.posts div.post div.body blockquote:last-child, div.content div.posts div.post div.body .twitter-tweet:last-child {
  margin-bottom: 0 !important;
}
/* line 153, ../../_sass/style.scss */
div.content div.posts div.post div.body p a, div.content div.posts div.post div.body div.highlight a, div.content div.posts div.post div.body ul a, div.content div.posts div.post div.body h3 a, div.content div.posts div.post div.body blockquote a, div.content div.posts div.post div.body .twitter-tweet a {
  text-decoration: underline;
}
/* line 158, ../../_sass/style.scss */
div.content div.posts div.post div.body h3 {
  font-weight: bold;
}
/* line 162, ../../_sass/style.scss */
div.content div.posts div.post div.body blockquote {
  border-left: 5px solid #f1f1f1;
  padding: 1em 2em;
  font-style: italic;
}
/* line 168, ../../_sass/style.scss */
div.content div.posts div.post div.body div.highlight {
  font-family: 'Source Code Pro', sans-serif;
  overflow-x: auto;
  padding: 1em;
  font-size: 13px;
  background: #f1f1f1;
}
/* line 176, ../../_sass/style.scss */
div.content div.posts div.post div.body ul {
  list-style-type: disc;
  padding-left: 3em;
}
/* line 182, ../../_sass/style.scss */
div.content div.posts div.post div.body p > code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Source Code Pro', sans-serif;
  padding: 0 0.4em;
  background: #f1f1f1;
  word-wrap: break-word;
}
/* line 190, ../../_sass/style.scss */
div.content div.posts div.post div.body p > img {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
  display: block;
}
/* line 201, ../../_sass/style.scss */
div.content div.posts div.post div.body h3 {
  font-size: 1.5em;
}
/* line 205, ../../_sass/style.scss */
div.content div.posts div.post div.body .twitter-tweet {
  margin-top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* line 212, ../../_sass/style.scss */
div.content div.posts div.post div.archive-date {
  position: absolute;
  left: 770px;
  font-family: 'Source Code Pro', sans-serif;
}
/* line 217, ../../_sass/style.scss */
div.content div.posts div.post div.archive-date a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  display: block;
  padding: 1em;
  background: #ea4c89;
}
/* line 223, ../../_sass/style.scss */
div.content div.posts div.post div.archive-date a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 225, ../../_sass/style.scss */
div.content div.posts div.post div.archive-date a p {
  color: #fff;
  line-height: 1;
}
/* line 229, ../../_sass/style.scss */
div.content div.posts div.post div.archive-date a p.year {
  font-size: 1em;
}
/* line 233, ../../_sass/style.scss */
div.content div.posts div.post div.archive-date a p.month {
  font-size: 2em;
}
/* line 242, ../../_sass/style.scss */
div.content div.pagination {
  text-align: center;
}
/* line 245, ../../_sass/style.scss */
div.content div.pagination span, div.content div.pagination a {
  display: inline-block;
  padding: 0 10px;
  line-height: 1px;
  vertical-align: middle;
  color: #aaaaaa;
}
/* line 253, ../../_sass/style.scss */
div.content div.pagination a {
  font-size: 2em;
}
/* line 256, ../../_sass/style.scss */
div.content div.pagination a.hidden {
  visibility: hidden;
}

/* line 264, ../../_sass/style.scss */
div.footer {
  padding: 50px 0;
  border-top: 1px solid #fff;
  color: #aaaaaa;
  font-size: 0.75em;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1250px) {
  /* line 274, ../../_sass/style.scss */
  div.content {
    padding: 60px 0;
  }
  /* line 277, ../../_sass/style.scss */
  div.content div.info {
    position: static;
    text-align: left;
    padding-bottom: 60px;
    left: 0;
    width: auto;
    overflow: hidden;
  }
  /* line 285, ../../_sass/style.scss */
  div.content div.info div.text {
    float: left;
    width: 200px;
  }
  /* line 290, ../../_sass/style.scss */
  div.content div.info p.links {
    float: right;
    margin-top: 0;
    text-align: right;
  }
  /* line 299, ../../_sass/style.scss */
  div.content div.posts div.post h3 {
    word-wrap: break-word;
  }
  /* line 303, ../../_sass/style.scss */
  div.content div.posts div.post div.archive-date {
    position: static;
    margin: 0 0 1em 1em;
    float: right;
  }
  /* line 310, ../../_sass/style.scss */
  div.content div.posts div.post div.archive-date a p.year {
    font-size: 0.7em;
  }
  /* line 314, ../../_sass/style.scss */
  div.content div.posts div.post div.archive-date a p.month {
    font-size: 1em;
  }
}
@media (max-width: 767px) {
  /* line 326, ../../_sass/style.scss */
  body {
    font-size: 16px;
  }

  /* line 330, ../../_sass/style.scss */
  .container {
    width: auto;
    margin: 0;
  }

  /* line 335, ../../_sass/style.scss */
  div.content {
    padding: 30px;
  }
  /* line 338, ../../_sass/style.scss */
  div.content div.info {
    padding-bottom: 30px;
  }
  /* line 341, ../../_sass/style.scss */
  div.content div.info div.text {
    float: none;
  }
  /* line 343, ../../_sass/style.scss */
  div.content div.info div.text p {
    display: none;
  }
  /* line 346, ../../_sass/style.scss */
  div.content div.info p.links {
    float: none;
    text-align: left;
    margin-top: 15px;
  }
  /* line 353, ../../_sass/style.scss */
  div.content div.posts {
    padding-bottom: 30px;
  }
  /* line 357, ../../_sass/style.scss */
  div.content div.posts div.post h3 {
    word-wrap: break-word;
  }
  /* line 361, ../../_sass/style.scss */
  div.content div.posts div.post div.archive-date {
    position: static;
    margin: 0 0 3em 0;
    width: 4em;
    float: none;
  }
  /* line 369, ../../_sass/style.scss */
  div.content div.posts div.post div.archive-date a p.year {
    font-size: 0.7em;
  }
  /* line 373, ../../_sass/style.scss */
  div.content div.posts div.post div.archive-date a p.month {
    font-size: 1em;
  }

  /* line 383, ../../_sass/style.scss */
  div.footer {
    padding: 20px 0;
  }
}
/* Bootstrap overriding */
/* line 390, ../../_sass/style.scss */
.tooltip {
  font-family: 'Ubuntu', sans-serif;
}
