---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if tag == page.tag %}
        <div class="post">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p class="date">
            {{ post.date | date_to_long_string }}
            {% capture tag_length %}{{ post.tags | size }}{% endcapture %}
            {% if tag_length != '0'  %}
              in
              {{ post.tags | tag_links }}
            {% endif %}
          </p>
          <div class="body">
            {{ post.excerpt | markdownify }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
